@import "themes/mocha.css";

* {
  font-family: FiraCode Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  /* surface0 */
  background-color: rgba(49, 50, 68, 0.25);
  /* text */
  color: #cdd6f4;
  margin: 2px 2px;
}

button {
  box-shadow: none;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces {
  border-radius: 1rem;
  margin: 2px;
  padding: 0 2px;
  /* surface0 */
  background-color: #313244;
}

#workspaces button {
  /* lavender */
  color: #b4befe;
  /* surface0 */
  background-color: #313244;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  border-color: transparent;
  min-width: 12px;
}

#workspaces button:hover {
  /* sapphire */
  color: #74c7ec;
  /* surface1 */
  background-color: #45475a;
}

#workspaces button.focused {
  /* sky */
  color: #89dceb;
}

#workspaces button.active {
  /* sky */
  color: #89dceb;
}

#workspaces button.urgent {
  /* red */
  background-color: #f38ba8;
  /* base */
  color: #1e1e2e;
}

.module {
  /* surface0 */
  background-color: #313244;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#window,
#custom-music {
  background-color: transparent;
}

#idle_inhibitor {
  background-color: transparent;
  /* mauve */
  color: #f5c2e7;
  padding: 0rem 1rem 0rem 0.6rem;
}

#clock {
  /* blue */
  color: #89b4fa;
}
