@import "themes/mocha.css";

* {
  font-family: FiraCode Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
  margin: 2px 2px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  box-shadow: none;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces {
  border-radius: 1rem;
  margin: 2px;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  border: none;
  background-color: @surface0;
  padding: 0.2rem 0.4rem;
}

#workspaces button:hover {
  color: @sapphire;
  background: @surface1;
  border: none;
  border-radius: 1rem;
}

#workspaces button.focused {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button.urgent {
  background-color: @red;
  color: @lavander;
}

#custom-ups,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#idle_inhibitor {
  padding: 0rem 0.85rem 0rem 0.6rem;
}

#clock {
  color: @blue;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#custom-music {
  color: @rosewater;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#custom-lock {
  color: @lavender;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#custom-power {
  color: @red;
  border-radius: 1rem;
  margin: 2px 1px;
  padding: 0rem 0.6rem;
}

#tray {
  border-radius: 1rem;
}
